---
---

@import "sierra/sierra";
@import "navbar";

h1,h2,h3,h4,h5 {
	color: $brand-primary;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
@for $i from 1 to 6 {
	h#{$i} {
		font-size: 33px - ($i * 3)
	}
}
body {
	background-color: darken($brand-dark, 10%);
}

ol,ul {
	margin-left: 2em;
}
