---
---

@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Sawarabi+Mincho');

section {
	font-family: 'Dosis', sans-serif;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;

    img {
    	max-width: 25%;
    	&:nth-child(odd) {
    		float: right;
    	}
    	&:nth-child(even) {
    		float: left;
    	}
    }
}

nav {
	font-family: 'Sawarabi Mincho', sans-serif;
	a {
		min-width: 10%;
		display: inline-block;
	}
}

#savedcharts {
	li {
		.title {
			margin-bottom: 0px;
		}
		.subtitle {
			margin-top: 0px;
		}
	}
}