---
---
$enable-gradients: true;
$primary: mediumseagreen;
@import 'bootstrap/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Sawarabi+Mincho');

section {
	font-family: 'Dosis', sans-serif;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;

    img {
    	max-width: 25%;
    	&:nth-child(odd) {
    		float: right;
    	}
    	&:nth-child(even) {
    		float: left;
    	}
    }
}

nav {
	font-family: 'Sawarabi Mincho', sans-serif;
}
nav.fixed-top+* {
    margin-top: 60px;
}
#main_nav {
    @extend .navbar-dark;
    @extend .bg-gradient-dark;
}

#savedcharts {
	li {
		.title {
			margin-bottom: 0px;
		}
		.subtitle {
			margin-top: 0px;
		}
	}
}

#charts {
    @extend .card-columns;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;*/
    .chart {
        width: 250px;
        padding: 0.3em;
        //border: 1px solid black;
        background: #f0f0f0;
        border-radius: 0.4em;
        margin: 0.15em;
        img {
            float: left;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            * {

            }
        }
        .name {font-weight: bold;}
        .delete {align-self: flex-end;}
    }
}