<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="{{ page.seo.type | default: 'article' }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ page.seo.image | default: '/img/og_default.png' | absolute_url }}" />
<meta property="og:description" content="{{ page.excerpt }}" />
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '{{ site.seo.fb.app_id }}', cookie: true, xfbml: true, version: '{{ site.seo.fb.app_ver }}'});
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>